/* Question 1 */
#box1 {
   width: 100px;
   height: 100px;
   background: green;
   transition: width 2s ease-in 0.5s;
}

#box1:hover {
   width: 600px;
}

/* Question 2 */
#box2 {
   width: 100px;
   height: 100px;
   background: red;
   transform: translate(200px, 200px) rotate(90deg);
}

/* Question 3 */
#box3 {
   width: 100px;
   height: 100px;
   background: lightblue;
   transform: skewX(20deg);
}
/* Question 4 */
#box4 {
   width: 100px;
   height: 100px;
   background: lightgreen;
   box-shadow: 2px 2px 5px green;
}

/* Question 5 */
#myPic {
   width: 200px;
   height: 200px;
   background: pink;
   background-image: url("../../Image/leaf.jpg");
   background-size: cover;
   opacity: 50%;
}
