<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is the homepage</h1>

    <!-- embedding the ejs expression -->
    <h1>Sum of 1 + 2 = <%= 1 + 2 %> </h1>
    <h1><%= "apnacollege".toUpperCase() %> </h1>
    <h1><%= ["Mahbub", "Tamanna", "Jana"][0] %> </h1> <!-- accessing the first element of the array -->
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, possimus. Provident officia voluptates sed. Quo,
        harum aspernatur consectetur dicta sapiente recusandae quae esse enim illo, expedita blanditiis vero
        necessitatibus voluptate. </p>
    <button>click me</button>
</body>

</html>