<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, possimus. Provident officia voluptates sed. Quo, harum aspernatur consectetur dicta sapiente recusandae quae esse enim illo, expedita blanditiis vero necessitatibus voluptate. </p>
    <button>click me</button>
</body>
</html>