<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new posts</title>
</head>
<body>
    <div>
        <form action="/posts" method="post">
            <input type="text" name="username" id="" placeholder="username"><br><br>
            <textarea name="content" id="" placeholder="write your content"></textarea><br> <br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>